header
    .box
        background-color: #212529
        width: 1500px
        height: 60px
        margin: 0 0 0 0
        position: relative
        .imgbox    
            width: 120px
            margin: 20px 0 0 250px
        nav     
            margin: 20px 250px 0 0
            a    
                margin-right: 20px
                font-size: 15px
                color: #ffffff
                &:hover
                    color: #ffc800
        position: fixed
        top: 0
        left: 0 
        width: 100%               
    @media screen and (max-width: 1000px)     
        .box
            background-color: #212529
            width: 1200px
            height: 60px
            position: relative
            margin: 0 200px 0 0
            .imgbox
                width: 120px
                margin: 20px 0 0 250px
            nav  
                margin: 20px 250px 0 0
                a    
                    margin-right: 20px
                    font-size: 15px
                    color: #ffffff
            position: fixed
            top: 0px
            left: 310px                